<div class="comment">
    <div class="comment-title">
        <h3 class="comment-username">User Name</h3>
        <small class="comment-likes">12 Likes</small>
    </div>
    <p class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt sunt commodi animi,
        pariatur quidem dignissimos
        voluptatum tempora ullam cupiditate enim, dolor, voluptatibus dolorum ab minima itaque voluptate necessitatibus
        consequatur possimus!</p>
</div>