<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="static/app.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Telegraph</title>
	<script src="static/app.bundle.js" defer></script>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
	</style>
</head>

<body>
	{{> header }}
	{{{ body }}}
</body>

</html>